<div class="card" style="width: 540px">
  <div class="row g-0">
    <div class="col-md-4 my-2 d-flex align-items-center justify-content-center">
      <img
        *ngIf="collection.imageUrl"
        [src]="collection.imageUrl"
        class="img-fluid rounded-start"
        alt=" {{ collection.title }} image}}"
        width="150"
        height="150"
      />
    </div>
    <div class="col-md-8 d-flex align-items-center justify-content-center">
      <div class="card-body">
        <h4 class="card-title">{{ collection.title }}</h4>
        <p class="card-text">
          {{ collection.description }}
        </p>
        <button [routerLink]="['/collections/', collection._id, 'products']" type="button" class="btn btn-xemsp">Xem các sản phẩm</button>
      </div>
    </div>
  </div>
</div>
