<div class="card mb-3" style="width: 540px">
  <div class="row g-0">
    <div class="col-md-5 my-2 d-flex align-items-center justify-content-center">
      <img
        src="assets/aodaicuoi.jpeg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-7 d-flex align-items-center justify-content-center">
      <div class="card-body">
        <h4 class="card-title">Áo dài</h4>
        <p class="card-text">
          Áo dài là trang phục truyền thống của Việt Nam, là biểu tượng của vẻ
          đẹp lịch sự và truyền thống.
        </p>
        <button type="button" class="btn btn-xemsp">Xem các sản phẩm</button>
      </div>
    </div>
  </div>
</div>
