<!-- Header-->
<header class="py-5 header my-3">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h2 class="display-4 fw-bolder">Khám Phá Thời Trang</h2>
      <p class="lead fw-normal text-white-50 mb-0">
        Khám phá xu hướng mới nhất và nâng cao phong cách của bạn với bộ sưu tập
        được chọn lọc của chúng tôi
      </p>
    </div>
  </div>
</header>

<!-- Thẻ collection -->
<div class="card-group">
  <app-collection-card
    *ngFor="let collection of collections"
    [collection]="collection"
    class="col-md-6 col-sm-12 col-xs-12 my-3 d-flex align-items-stretch justify-content-center"
  ></app-collection-card>
</div>
