#brand {
  font-size: 2rem;
  font-weight: 300;
}

.dancing-font {
  font-family: "Dancing Script", cursive;
}

.nav-link {
  color: black;
  font-size: 0.9rem;
}

.nav-link:hover {
  color: #f58539;
}

.btn-login {
  border-color: #46362e;
  color: black;
}

.btn-login:hover {
  background-color: #46362e;
  color: white;
}

.btn-login:hover:active {
  border-color: #46362e;
}

.btn-register {
  background-color: #46362e;
  border-color: #46362e;
  color: white;
}

.btn-register:active {
  background-color: white;
  color: #46362e;
  border-color: #46362e;
}

.welcome-text {
  font-size: 1.25rem;
  font-weight: 300;
}

.user-section {
  position: relative;
}

.hover-items {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.user-section:hover .hover-items {
  display: block;
  right: 0;
}