<div
  class="container-fluid my-3 product-detail-body"
  *ngIf="product && collection"
>
  <nav aria-label="breadcrumb" class="animate__animated animate__bounceInLeft">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a
          class="link-body-emphasis fw-semibold text-decoration-none"
          routerLink="/collections"
          >Bộ sưu tập</a
        >
      </li>
      <li class="breadcrumb-item">
        <a
          class="link-body-emphasis fw-semibold text-decoration-none"
          routerLink="/collections"
          >{{ collection.title }}</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ product.name }}
      </li>
    </ol>
  </nav>

  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-5">
          <div class="image-slider">
            <img
              *ngIf="product.imageUrls"
              [src]="
                product.imageUrls[selectedImageIndex] || product.mainImageUrl
              "
              alt="{{ product.name }}"
              class="img-fluid w-100"
            />
            <div class="thumbnail-container d-flex justify-content-center mt-4">
              <div
                *ngFor="let image of product.imageUrls; let i = index"
                class="thumbnail"
                [class.selected]="i === selectedImageIndex"
                (click)="selectImage(i)"
              >
                <img
                  [src]="image"
                  alt="{{ product.name }}"
                  class="img-thumbnail"
                />
              </div>
            </div>
          </div>
        </aside>

        <div class="col-lg-1"></div>

        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{ product.name }}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-3">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1"> 4.5 </span>
              </div>
              <span class="text-muted me-3"
                ><i class="fas fa-shopping-basket fa-sm mx-1"></i>
                {{ product.sold }} đã bán</span
              >
              <span class="text-success">{{
                product.quantity > 0 ? "Còn hàng"  : "Hết hàng"
              }}: {{ product.quantity }}</span>
            </div>

            <div class="mb-3">
              <span class="h5" style="color: red">{{
                product.price | currency : "VND" : "symbol" : "1.0-0"
              }}</span>
            </div>

            <p>{{ product.description.slice(0, 200) }}...</p>

            <div class="row">
              <dt class="col-3">Bộ sưu tập:</dt>
              <dd class="col-9">{{ collection.title }}</dd>

              <dt class="col-3">Màu sắc</dt>
              <dd class="col-9">{{ product.color }}</dd>

              <dt class="col-3">Chất liệu</dt>
              <dd class="col-9">{{ product.material }}</dd>

              <dt class="col-3">Size</dt>
              <dd class="col-9">{{ product.size }}</dd>

              <dt class="col-3">Hãng</dt>
              <dd class="col-9">{{ product.brand }}</dd>
            </div>

            <hr />

            <div class="row mb-4">
              <dt class="col-lg-3 col-form-label" for="quantityInput"
                >Số lượng:</dt
              >
              <div class="col-lg-3">
                <input
                  type="number"
                  class="form-control"
                  id="quantityInput"
                  [(ngModel)]="inputQuantity"
                  (ngModelChange)="getInputQuantity($event)"
                  min="1"
                  max="{{ product.quantity }}"
                  required
                />
              </div>
            </div>

            <a href="#" class="btn btn-danger shadow-0 me-2"> Mua ngay </a>
            <button
              class="btn btn-primary shadow-0 m-2"
              (click)="addToCart(product)"
            >
              <i class="me-1 fa fa-shopping-basket"></i>
              Thêm vào giỏ hàng
            </button>
            <a
              href="#"
              class="btn btn-light border border-secondary icon-hover px-3 m-2"
            >
              <i class="me-1 fa fa-heart fa-lg"></i> Yêu thích
            </a>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->

  <section class="bg-light border-top py-4">
    <div class="container">
      <div class="row gx-4">
        <div class="col-lg-8 mb-4">
          <div class="border rounded-2 px-3 py-2 bg-white">
            <!-- Pills navs -->
            <ul
              class="nav nav-pills nav-justified mb-3"
              id="ex1"
              role="tablist"
            >
              <li class="nav-item d-flex" role="presentation">
                <a
                  class="nav-link d-flex align-items-center justify-content-center w-100 active"
                  id="ex1-tab-1"
                  data-mdb-toggle="pill"
                  href="#ex1-pills-1"
                  role="tab"
                  aria-controls="ex1-pills-1"
                  aria-selected="true"
                  >Chi tiết sản phẩm</a
                >
              </li>
              <li class="nav-item d-flex" role="presentation">
                <a
                  class="nav-link d-flex align-items-center justify-content-center w-100"
                  id="ex1-tab-2"
                  data-mdb-toggle="pill"
                  href="#ex1-pills-2"
                  role="tab"
                  aria-controls="ex1-pills-2"
                  aria-selected="false"
                  >Thông tin bảo hành</a
                >
              </li>
            </ul>
            <!-- Pills navs -->

            <!-- Pills content -->
            <div class="tab-content" id="ex1-content">
              <div
                class="tab-pane fade show active"
                id="ex1-pills-1"
                role="tabpanel"
                aria-labelledby="ex1-tab-1"
              >
                <p>
                  {{ product.description }}
                </p>
                <!-- <div class="row mb-2">
                  <div class="col-12 col-md-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <i class="fas fa-check text-success me-2"></i>Some great
                        feature name here
                      </li>
                      <li>
                        <i class="fas fa-check text-success me-2"></i>Lorem
                        ipsum dolor sit amet, consectetur
                      </li>
                      <li>
                        <i class="fas fa-check text-success me-2"></i>Duis aute
                        irure dolor in reprehenderit
                      </li>
                      <li>
                        <i class="fas fa-check text-success me-2"></i>Optical
                        heart sensor
                      </li>
                    </ul>
                  </div>
                  <div class="col-12 col-md-6 mb-0">
                    <ul class="list-unstyled">
                      <li>
                        <i class="fas fa-check text-success me-2"></i>Easy fast
                        and ver good
                      </li>
                      <li>
                        <i class="fas fa-check text-success me-2"></i>Some great
                        feature name here
                      </li>
                      <li>
                        <i class="fas fa-check text-success me-2"></i>Modern
                        style and design
                      </li>
                    </ul>
                  </div>
                </div> -->
                <!-- <table class="table border mt-3 mb-2">
                  <tr>
                    <th class="py-2">Display:</th>
                    <td class="py-2">13.3-inch LED-backlit display with IPS</td>
                  </tr>
                  <tr>
                    <th class="py-2">Processor capacity:</th>
                    <td class="py-2">2.3GHz dual-core Intel Core i5</td>
                  </tr>
                  <tr>
                    <th class="py-2">Camera quality:</th>
                    <td class="py-2">720p FaceTime HD camera</td>
                  </tr>
                  <tr>
                    <th class="py-2">Memory</th>
                    <td class="py-2">8 GB RAM or 16 GB RAM</td>
                  </tr>
                  <tr>
                    <th class="py-2">Graphics</th>
                    <td class="py-2">Intel Iris Plus Graphics 640</td>
                  </tr>
                </table> -->
              </div>
            </div>
            <!-- Pills content -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sản phẩm tương tự</h5>
                <div class="d-flex mb-3">
                  <a href="#" class="me-3">
                    <img
                      src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp"
                      style="min-width: 96px; height: 96px"
                      class="img-md img-thumbnail"
                    />
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1">
                      Rucksack Backpack Large <br />
                      Line Mounts
                    </a>
                    <strong class="text-dark"> $38.90</strong>
                  </div>
                </div>

                <div class="d-flex mb-3">
                  <a href="#" class="me-3">
                    <img
                      src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp"
                      style="min-width: 96px; height: 96px"
                      class="img-md img-thumbnail"
                    />
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1">
                      Summer New Men's Denim <br />
                      Jeans Shorts
                    </a>
                    <strong class="text-dark"> $29.50</strong>
                  </div>
                </div>

                <div class="d-flex mb-3">
                  <a href="#" class="me-3">
                    <img
                      src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                      style="min-width: 96px; height: 96px"
                      class="img-md img-thumbnail"
                    />
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1">
                      T-shirts with multiple colors, for men and lady
                    </a>
                    <strong class="text-dark"> $120.00</strong>
                  </div>
                </div>

                <div class="d-flex">
                  <a href="#" class="me-3">
                    <img
                      src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp"
                      style="min-width: 96px; height: 96px"
                      class="img-md img-thumbnail"
                    />
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1">
                      Blazer Suit Dress Jacket for Men, Blue color
                    </a>
                    <strong class="text-dark"> $339.90</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
