<div class="container-fluid my-5 admin-body">
  <div class="row justify-content-between mx-4">
    <div
      class="col-md-2 col-12 d-flex flex-column flex-shrink-0 pt-3 pb-3 px-4 mb-3 admin-sidebar"
    >
      <a
        href="/admin"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <span class="fs-4">Trang quản lý</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/admin/dashboard" class="nav-link"> Dashboard </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/admin/collections" class="nav-link"> Bộ sưu tập </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/admin/products" class="nav-link"> Sản phẩm </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/admin/blogs" class="nav-link"> Blog </a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/admin/orders" class="nav-link"> Đơn hàng </a>
        </li>
      </ul>
      <hr />
    </div>
    <div class="col-md-9 admin-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
