.admin-body {
  min-height: 100vh;
}

.row {
  margin: 0;
  padding: 0;
}

.admin-sidebar {
  background-color: #e6e6e6;
  color: white;
  height:fit-content;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-sidebar a {
  text-decoration: none;
}

.nav-pills .nav-link {
  color: #46362e;
}

.nav-pills .active .nav-link {
  color: white;
}

/* .nav-pills .active .nav-link:hover {
  color: white;
} */

.nav-pills .nav-link:hover {
  /* background-color: #46362e;
  color: white;
  border-radius: 10px; */
  color: #f58539;
}


.nav-pills .active {
  background-color: #46362e;
  border-radius: 10px;
}

.admin-content {
  padding: 0;
}