.carousel-slider {
  z-index: 0;
}

/* .carousel-inner img {
    filter: brightness(70%) blur(0.5px);
  } */

.title {
  color: #cd6f00;
  font-size: 2.2rem;
  font-weight: 900;
}

div.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../../../assets/collection.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}
div.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
div.masthead .masthead-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-details {
  background-color: #46362e;
  border-color: #46362e;
  color: white;
}

.btn-details:hover {
  background-color: white;
  color: #46362e;
  border-color: #46362e;
}

.btn-details:active {
  background-color: white;
  color: #46362e;
  border-color: #46362e;
}

.btn-explore {
  border-color: #46362e;
  color: #46362e;
  background-color: white;
}

.btn-explore:hover {
  background-color: #46362e;
  color: white;
}

.btn-explore:hover:active {
  border-color: #46362e;
}

.best-seller {
  color:#cd6f00;
}

.testimonial-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.testimonial-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-content p{
  margin-top:5px;
  font-size:1rem;
}