<div class="container" *ngIf="product">
  <h3 class="mb-3">
    Chỉnh sửa sản phẩm
    <span class="title"
      ><i>{{ product.name }}</i></span
    >
  </h3>
  <form (ngSubmit)="updateProduct()" [formGroup]="editProductForm">
    <div class="form-group mb-4">
      <label for="name">Tên </label>
      <input
        type="text"
        class="form-control mt-2"
        id="name"
        name="name"
        formControlName="name"
        [value]="product.name"
      />
    </div>
    <div class="form-group mb-4">
      <label for="description">Mô tả </label>
      <textarea
        class="form-control mt-2"
        id="description"
        name="description"
        formControlName="description"
        [value]="product.description"
      ></textarea>
    </div>
    <div class="form-group mb-4">
      <label for="price">Giá </label>
      <input
        type="text"
        class="form-control mt-2"
        id="price"
        name="price"
        formControlName="price"
        [value]="product.price"
      />
    </div>
    <div class="form-group mb-4">
      <label for="quantity">Số lượng </label>
      <input
        type="text"
        class="form-control mt-2"
        id="quantity"
        name="quantity"
        formControlName="quantity"
        [value]="product.quantity"
      />
    </div>
    <div class="form-group mb-4">
      <label for="collection">Bộ sưu tập </label>
      <select
        class="form-control mt-2"
        id="collection"
        name="collection"
        formControlName="collectionId"
      >
        <option value="">Chọn bộ sưu tập</option>
        <option *ngFor="let collection of collections" [value]="collection._id">
          {{ collection.title }}
        </option>
      </select>
    </div>
    <!-- <div class="form-group mb-4">
      <label for="mainImage">Ảnh chính hiện tại </label>
      <div class="row mt-2">
        <img
          [src]="product.mainImageUrl"
          alt="Main Image"
          class="img-fluid col-md-3"
        />
      </div>
    </div> -->
    <!-- <div class="form-group mb-4">
      <label for="mainImage">Ảnh chính hiện tại </label>
      <div class="row mt-2">
        <div class="col-md-3" *ngFor="let imageUrl of [product.mainImageUrl]">
          <div
            class="image-container"
            (mouseenter)="showDeleteButton = true"
            (mouseleave)="showDeleteButton = false"
          >
            <img [src]="imageUrl" alt="Main Image" class="img-fluid" />
            <button
              *ngIf="showDeleteButton"
              class="btn btn-danger btn-sm"
            >
              Xóa
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="form-group mb-4">
      <label for="mainImageUrl">Cập nhật ảnh chính </label>
      <input
        type="file"
        class="form-control mt-2"
        id="mainImageUrl"
        name="mainImageUrl"
        (change)="onMainImgSelected($event)"
      />
    </div>
    <!-- <div class="form-group mb-4">
      <label for="otherImageUrls">Các ảnh khác hiện tại </label>
      <div class="row mt-2">
        <img
          *ngFor="let otherImageUrl of product.otherImageUrls"
          [src]="otherImageUrl"
          alt="Other Image"
          class="img-fluid col-md-2"
        />
      </div>
    </div> -->
    <!-- <div class="form-group mb-4">
      <label for="otherImageUrls">Các ảnh khác hiện tại </label>
      <div class="row mt-2">
        <div
          class="col-md-2"
          *ngFor="let imageUrl of product.otherImageUrls"
        >
          <div
            class="image-container"
            (mouseenter)="showDeleteButton = true"
            (mouseleave)="showDeleteButton = false"
          >
            <img [src]="imageUrl" alt="Main Image" class="img-fluid" />
            <button
              *ngIf="showDeleteButton"
              class="btn btn-danger btn-sm"
            >
              Xóa
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="form-group mb-4">
      <label for="otherImageUrls">Cập nhật các ảnh khác </label>
      <input
        type="file"
        class="form-control mt-2"
        id="otherImageUrls"
        name="otherImageUrls"
        (change)="onOtherImgsSelected($event)"
        multiple
      />
    </div>
    <button type="submit" class="btn btn-custom">Cập nhật sản phẩm</button>
  </form>

  <ngx-loading [show]="loading"></ngx-loading>
</div>
