<div class="container" *ngIf="product">
  <h3 class="mb-3">
    Chỉnh sửa sản phẩm
    <span class="title"
      ><i>{{ product.name }}</i></span
    >
  </h3>
  <form (ngSubmit)="updateProduct()" [formGroup]="editProductForm" class="my-4">
    <div class="form-group mb-4">
      <label for="image">Ảnh sản phẩm (Chọn ảnh để xóa)</label>
      <div class="row mt-2">
        <div
          class="col-md-2 d-flex flex-column align-items-center"
          *ngFor="let imageUrl of product.imageUrls; let i = index"
        >
          <img [src]="imageUrl" alt="Main Image" class="img-fluid" />
          <!-- Sử dụng formArrayName để theo dõi trạng thái checkbox -->
          <input
            type="checkbox"
            formArrayName="imagesToDelete"
            [id]="'imageToDelete' + i"
            (change)="onImagesDeleteSelected(i)"
            class="mt-2"
          />
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="imageUrls">Tải ảnh sản phẩm lên (có thể chọn nhiều ảnh)</label>
      <input
        type="file"
        class="form-control mt-2"
        id="imageUrls"
        name="imageUrls"
        formControlName="imageUrls"
        (change)="onImagesSelected($event)"
        multiple
      />
    </div>

    <div class="form-group mb-4">
      <label for="name">Tên </label>
      <input
        type="text"
        class="form-control mt-2"
        id="name"
        name="name"
        formControlName="name"
        [value]="product.name"
      />
    </div>

    <div class="form-group mb-4">
      <label for="description">Mô tả </label>
      <textarea
        class="form-control mt-2"
        id="description"
        name="description"
        formControlName="description"
        [value]="product.description"
      ></textarea>
    </div>

    <div class="form-group mb-4">
      <label for="price">Giá </label>
      <input
        type="text"
        class="form-control mt-2"
        id="price"
        name="price"
        formControlName="price"
        [value]="product.price"
      />
    </div>

    <div class="form-group mb-4">
      <label for="quantity">Số lượng </label>
      <input
        type="text"
        class="form-control mt-2"
        id="quantity"
        name="quantity"
        formControlName="quantity"
        [value]="product.quantity"
      />
    </div>

    <div class="form-group mb-4">
      <label for="collection">Bộ sưu tập </label>
      <select
        class="form-control mt-2"
        id="collection"
        name="collection"
        formControlName="collectionId"
      >
        <option value="">Chọn bộ sưu tập</option>
        <option *ngFor="let collection of collections" [value]="collection._id">
          {{ collection.title }}
        </option>
      </select>
    </div>

    <div class="form-group mb-4">
      <label for="size">Size </label>
      <select
        class="form-control mt-2"
        id="size"
        name="size"
        formControlName="size"
      >
        <option value="">Chọn size</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
      </select>
    </div>

    <div class="form-group mb-4">
      <label for="material">Chất liệu </label>
      <input
        type="text"
        class="form-control mt-2"
        id="material"
        name="material"
        formControlName="material"
      />
    </div>

    <div class="form-group mb-4">
      <label for="color">Màu sắc </label>
      <input
        type="text"
        class="form-control mt-2"
        id="color"
        name="color"
        formControlName="color"
      />
    </div>

    <div class="form-group mb-4">
      <label for="brand">Hãng </label>
      <input
        type="text"
        class="form-control mt-2"
        id="brand"
        name="brand"
        formControlName="brand"
      />
    </div>
    <button type="submit" class="btn btn-custom mt-3">Cập nhật sản phẩm</button>
  </form>

  <ngx-loading [show]="loading"></ngx-loading>
</div>
