<div class="container card shadow mb-4">
  <div class="card-header py-3 row">
    <h2 class="h3 col-md-9 mb-2 text-gray-800">Quản lý Bộ sưu tập</h2>
    <button
      class="btn col-md-3 btn-custom"
      [routerLink]="['/admin/collections/create']"
      routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" 
    >
      Thêm bộ sưu tập
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered row-border hover"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>STT</th>
            <th style="width: 10%;">Ảnh</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th style="width: 10%;"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>STT</th>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let collection of collections; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="align-middle">
              <img
                [src]="collection.imageUrl"
                alt="{{ collection.title }} image"
                width="100"
                height="auto"
              />
            </td>
            <td>{{ collection.title }}</td>
            <td>{{ collection.description }}</td>
            <td class="d-flex flex-column">
              <!-- <button
                class="btn btn-primary my-1"
                [routerLink]="['/admin/products', product._id]"
              >
                Xem
              </button> -->
              <button
                class="btn btn-secondary my-1"
                [routerLink]="['/admin/collections/edit', collection._id]"
              >
                Sửa
              </button>
              <button class="btn btn-danger my-1" (click)="deleteCollection(collection._id)">
                  Xóa
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
