<div class="container card shadow mb-4">
  <div class="card-header py-3 row">
    <h2 class="h3 col-md-9 mb-2 text-gray-800">Quản lý Bộ sưu tập</h2>
    <button
      class="btn col-md-3 btn-custom"
      [routerLink]="['/admin/collections/create']"
    >
      Thêm bộ sưu tập
    </button>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered row-border hover"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>STT</th>
            <th style="width: 10%;">Ảnh</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>STT</th>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let collection of collections; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="align-middle">
              <img
                [src]="collection.imageUrl"
                alt="{{ collection.title }} image"
                width="100"
                height="auto"
              />
            </td>
            <td>{{ collection.title }}</td>
            <td>{{ collection.description }}</td>
            <td class="d-flex flex-column align-items-center">
              <button
                class="btn my-2"
                [routerLink]="['/admin/collections/edit', collection._id]"
              >
                <img src="assets/edit.png" alt="Edit icon" width="30" />
              </button>
              <button class="btn my-2" (click)="deleteCollection(collection._id)">
                <img src="assets/delete.png" alt="Delete icon" width="30" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
