<div class="container">
  <h3 class="mb-3">Trang thêm bộ sưu tập</h3>
  <form (ngSubmit)="createProduct()" [formGroup]="createProductForm">
    <div class="form-group mb-4">
      <label for="name">Tên <span class="required">*</span></label>
      <input
        type="text"
        class="form-control mt-2"
        id="name"
        name="name"
        formControlName="name"
        required
      />
    </div>
    <div class="form-group mb-4">
      <label for="description">Mô tả <span class="required">*</span></label>
      <textarea
        class="form-control mt-2"
        id="description"
        name="description"
        formControlName="description"
        required
      ></textarea>
    </div>
    <div class="form-group mb-4">
      <label for="price">Giá <span class="required">*</span></label>
      <input
        type="text"
        class="form-control mt-2"
        id="price"
        name="price"
        formControlName="price"
        required
      />
    </div>
    <div class="form-group mb-4">
      <label for="quantity">Số lượng <span class="required">*</span></label>
      <input
        type="text"
        class="form-control mt-2"
        id="quantity"
        name="quantity"
        formControlName="quantity"
        required
      />
    </div>
    <div class="form-group mb-4">
      <label for="collection">Bộ sưu tập <span class="required">*</span></label>
      <select
        class="form-control mt-2"
        id="collection"
        name="collection"
        formControlName="collectionId"
        required
      >
        <option value="">Chọn bộ sưu tập</option>
        <option *ngFor="let collection of collections" [value]="collection._id">
          {{ collection.title }}
        </option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label for="mainImageUrl">Tải ảnh chính lên <span class="required">*</span></label>
      <input
        type="file"
        class="form-control mt-2"
        id="mainImageUrl"
        name="mainImageUrl"
        formControlName="mainImageUrl"
        (change)="onMainImgSelected($event)"
        required
      />
    </div>
    <div class="form-group mb-4">
      <label for="otherImageUrls">Tải các ảnh khác lên <span class="required">*</span></label>
      <input
        type="file"
        class="form-control mt-2"
        id="otherImageUrls"
        name="otherImageUrls"
        formControlName="otherImageUrls"
        (change)="onOtherImgsSelected($event)"
        multiple
        required
      />
    </div>
    <button type="submit" class="btn btn-custom">Tạo sản phẩm</button>
  </form>
</div>
