<div class="container-fluid py-2" [ngClass]="{ 'fixed-nav': isFixedHeader }">
  <div class="row align-items-center">
    <div class="col-3 col-sm-3 animate__animated animate__heartBeat">
      <a
        routerLink="/"
        class="d-inline-flex link-body-emphasis text-decoration-none"
      >
        <img
          src="assets/logo.jpg"
          alt="Phuong Fashion logo"
          width="55"
          height="55"
          class="rounded-circle"
        />
      </a>
    </div>
    <div class="col-8 col-sm-8"></div>
    <div
      class="col-1 col-sm-1 animate__animated animate__backInRight d-flex justify-content-end"
    >
      <button type="button" class="mr-2" (click)="sidebarVisible1 = true">
        <img
          src="assets/menu.png"
          alt="Phuong Fashion logo"
          width="25"
          height="25"
          class="rounded-circle"
        />
      </button>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible1" position="left">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
    style="width: 280px"
  >
    <a
      routerLink="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <img
        src="assets/logo.jpg"
        alt="Phuong Fashion logo"
        width="55"
        height="55"
        class="rounded-circle"
      />
      <span class="fs-4 dancing-font mx-4">Phương Fashion</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/home" class="nav-link ms-3"> Trang chủ </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/collections" class="nav-link ms-3"> Bộ sưu tập </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/products" class="nav-link ms-3"> Sản phẩm </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/blogs" class="nav-link ms-3"> Blog </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/about-us" class="nav-link ms-3"> Về chúng tôi </a>
      </li>
    </ul>
    <hr />
    <!-- Login and register buttons -->
    <div class="text-end" *ngIf="!isLoggedIn; else userSection">
      <button
        type="button"
        class="btn btn-outline-primary btn-login col-12"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        (click)="openLoginModal()"
      >
        Đăng nhập
      </button>
      <button
        type="button"
        class="btn btn-primary btn-register col-12 my-3"
        data-bs-toggle="modal"
        data-bs-target="#registerModal"
        (click)="openRegisterModal()"
      >
        Đăng ký
      </button>
    </div>

    <!-- User section -->
    <ng-template #userSection>
      <div class="col-md-auto col-12 text-center user-section">
        <span
          ><span class="dancing-font welcome-text">Xin chào,</span>
          {{ fullname }}
          <img src="assets/dropdown.png" alt="Dropdown Icon" width="20px" height="20px">
        </span>

        <div class="hover-items text-center">
          <a href="">
            <button
              type="button"
              class="btn btn-link text-decoration-none col-12"
              style="color: black"
            >
              <img
                src="assets/user.png"
                class="me-1"
                alt="user icon"
                width="17px"
                height="17px"
                style="margin-top: -3px"
              />
              <span class="text-item">Tài khoản</span>
            </button>
          </a>

          <br />

          <a href="">
            <button
              type="button"
              class="btn btn-link text-decoration-none col-12"
              style="color: black"
            >
              <img
                src="assets/shopping-bag.png"
                class="me-1"
                alt="cart icon"
                width="17px"
                height="17px"
                style="margin-left: -3px; margin-top: -3px"
              />
              <span class="text-item">Giỏ hàng</span>
            </button>
          </a>

          <br />

          <a href="">
            <button
              type="button"
              class="btn btn-link text-decoration-none col-12"
              style="color: black; margin-bottom: -10px"
            >
              <img
                src="assets/heart.png"
                class="me-1"
                alt="heart icon"
                width="17px"
                height="17px"
                style="margin-top: -3px"
              />
              <span class="text-item">Yêu thích</span>
            </button>
          </a>

          <!-- Nút dẫn đến trang admin -->
          <a routerLink="/admin">
            <button
              type="button"
              class="btn btn-link text-decoration-none col-12"
              style="color: black; margin-top: 10px; margin-bottom: -10px"
              *ngIf="isAdmin"
            >
              <img
                src="assets/admin.png"
                class="me-1"
                alt="admin icon"
                width="17px"
                height="17px"
                style="margin-left: -7px; margin-top: -3px"
              />
              <span class="text-item">Quản lý</span>
            </button>
          </a>

          <hr />

          <button
            type="button"
            class="btn btn-link text-decoration-none col-12"
            style="color: #eb6763; margin-top: -10px"
            (click)="logout()"
          >
            <img
              src="assets/logout.png"
              class="me-1"
              alt="Logout icon"
              width="20px"
              height="20px"
            />
            <span class="text-item">Đăng xuất</span>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</p-sidebar>
