<div class="container">
  <h3 class="mb-3">Trang thêm bộ sưu tập</h3>
  <form (ngSubmit)="createCollection()" [formGroup]="createCollectionForm" class="mt-4">
    <div class="form-group mb-4">
      <label for="title">Tên <span class="required">*</span></label>
      <input
        type="text"
        class="form-control mt-2"
        id="title"
        name="title"
        formControlName="title"
        required
      />
    </div>
    <div class="form-group mb-4">
      <label for="description">Mô tả <span class="required">*</span></label>
      <textarea
        class="form-control mt-2"
        id="description"
        name="description"
        formControlName="description"
        required
      ></textarea>
    </div>
    <div class="form-group mb-4">
      <label for="imageUrl">Tải ảnh lên (chỉ được chọn 1 ảnh) <span class="required">*</span></label>
      <input
        type="file"
        class="form-control mt-2"
        id="imageUrl"
        name="imageUrl"
        formControlName="imageUrl"
        (change)="onFileSelected($event)"
        required
      />
    </div>
    <button type="submit" class="btn btn-custom mt-3">Tạo bộ sưu tập</button>
  </form>

  <ngx-loading
    [show]="loading"
  ></ngx-loading>
</div>
